<div class="champ-header">
    <h1>{{champName}}</h1>
    <div class="champ-img">
        {{{champImg}}}
    </div>
</div>

<div class="popItems">
    <ul>
    {{#each itemName}}
        <li>
        <h5>{{this.name}}</h5>
        <h6>Popularity: {{this.pop}}</h6>
        <img class="item" alt="{{this.name}}" src="{{this.url}}"/>
        </li>
    {{/each}}
    </ul>
</div>

<div class="forum">
    {{forum}}
</div>